:root{
    --bg-primary:#D9DBD4;
    --bg-secondary:#009688;
    --icons-color-primary:#B1B1B1;
    --icons-color-dark:#918f8f;
    --bg-web-app:#EAEAEA;
    --notification-color:#8EDAFC;
    --color-msg-out:#D5F9BA;
}

.background{
    height: 100vh;
    position: relative;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;

}
.green-spacer{
    height: 20vh;
    width: 100%;
    position: absolute;
    background-color: var(--bg-secondary);
    top: 0;

}
.web-app{
    height: 90vh;
    z-index: 1;
    display: flex;
    
}
.tab-box{
    background-color: var(--bg-web-app);
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    

}
.chat-box{
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;

}
.avatar-box{
    width: 35px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.nav-tab{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-web-app);
    max-height: 50px;
    

}
.icons-box{
    display: flex;
    gap: .7rem;
    

}
.icons-color{
    color:var(--icons-color-primary);
}
.icons-color-dark{
    color: var(--icons-color-dark);
}
.notification-tab{
    display: flex;
    
    align-items: center;
    background-color: var(--notification-color);
    
    
}
.icon-mute{
    height: 40px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--notification-color);
    background-color: white;
    border-radius: 50%;
}
.text-notification{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-notification div{
    font-size: .7rem;
    font-weight:600;
}
.text-notification a{
    font-size: .5rem;
    color: var(--icons-color-primary);
}
.search-tab{
    display: flex;
    align-items: center;
    background-color: white;
    margin: .2rem .5rem;
    border-radius: 5px;
}
.anteprima-chat-tab{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    overflow: auto;
}
.anteprima-chat{
    display: flex;
    align-items: center;
    padding: .5rem;
    background-color: white;
    
}
.anteprima-chat:hover{
    background-color: rgb(228, 227, 227);
    transition: all .1s;
}
.anteprima-chat.active{
    background-color: rgb(189, 189, 189);

}
.chat{
    flex-grow: 1;
    background-image: url(../imgs/mine.jpg);
    display: flex;
    flex-direction: column;
    gap: .7rem;
    overflow: auto;
    padding: 1rem;
}
.input-chat{
    display: flex;
    padding: .5rem;
    gap: 1rem;
    background-color: var(--bg-web-app);
    align-items: center;

}

 /* messaggi chat classi */
 .msg{
    min-width: 20%;
    max-width: 60%;
    border-radius: 10px;

    padding: .2rem 1rem;
    display: flex;
    justify-content: space-between;
    gap: .2rem;
   
    
 }
 .msg-in{
    background-color:white ;
    align-self: flex-start;
 }
 .msg-out{
    background-color:var(--color-msg-out) ;
    align-self: flex-end;
 }

 .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: -30px;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-btn{
    padding: 10px 10px;

  }
  .dropdown-btn:hover{
    background-color: rgb(228, 227, 227);
    
    
}

/* utilities */
.spacer-tab-box{
    padding: .5rem .5rem;
}
.txt-gray{
    color: rgb(184, 181, 181);
}
.fnt-sm{
    font-size: .7rem;
}
.fnt-xs{
    font-size: .5rem;
}